VITE_BASE_URL=/
VITE_APP_DIFY_URL=
VITE_APP_SERVER_URL=http://127.0.0.1:8007
VITE_APP_CLIENT_ID=geo-local
VITE_APP_ENCRYPT=false
VITE_APP_ENCRYPT_KEY=
VITE_APP_RSA_PUBLIC_KEY=
VITE_APP_RSA_PRIVATE_KEY=
VITE_APP_TOKEN_KEY=bwy-token
VITE_APP_USER_INFO_KEY=geo-user-info
VITE_APP_MAP_RESOURCE_URL=
VITE_CESIUM_ION_TOKEN=
VITE_AUDIO_SERVER=
